<section class="slideshow max-width">
    <div class="slide">
        <h2 class="slide__title">
            It's so much <span class="red">more</span> than <span class="next-line">just a machine...</span>
        </h2>
        
        <div class="slide__cta">
            <p class="slide__cta__text">
                Buy your dream car today
                <span class="next-line">Drive it tomorrow</span>
            </p>

            <a href="/cars/brands/all" class="btn-pri btn-pri-alt slide__cta__button">
                <span class="overlay"></span>
                <span class="container-text">
                    <span>Discover our stock</span>
                </span>
                <img class="arrow" src="./static/images/icons/arrow_right.svg" alt="arrow right">
            </a>
        </div>


        <img class="slide__img" src="./static/images/carousel/carousel-1.png" alt="Carousel1">
    </div>
</section>