<footer>
    <section class="footer-top max-width">
        <div class="footer-top__logo">
            <a href="/">
                <img src="/static/images/logo/logo_enjin_transparent.png" alt="logo Enjin">
            </a>

            <ul class="socials">
                <li>
                    <a href="" target="_blank">
                        <i data-feather="facebook"></i>
                    </a>
                </li>

                <li>
                    <a href="" target="_blank">
                        <i data-feather="instagram"></i>
                    </a>
                </li>

                <li>
                    <a href="" target="_blank">
                        <i data-feather="twitter"></i>
                    </a>
                </li>

                <li>
                    <a href="" target="_blank">
                        <i data-feather="youtube"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-top__nav">
            <ul>
                <li>
                    <a class="active-footer" href="/">Home</a>
                </li>

                <li>
                    <a href="/cars/brands/all">Cars</a>
                </li>

                <li>
                    <a href="/news">News</a>
                </li>

                <li>
                    <a href="/contact">Contact</a>
                </li>

                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>

        <div class="footer-top__brands">
            <ul>
                <li>
                    <a class="active-footer" href="/cars">Brands</a>
                </li>
            
            {% for brand in brands %}
                <li>
                    <a href="/cars/brands/all#{{brand.name}}">{{ brand.name }}</a>
                </li>
            {% endfor %}

            </ul>
        </div>

        <div class="footer-top__newsletter">
            <p>Stay up to date with the latest from Enjin</p>

            <form>
                <div>
                    <label for="newsletter" class="label-alt">
                        <input class="input-alt" type="text" id="newsletter" name="newsletter">
                        <span>Enter your e-mail address</span>
                    </label>
                </div>
                
                <button class="btn-pri btn-pri-alt">
                    <span class="overlay"></span>
                    <span class="container-text">
                        <span>Sign up</span>
                    </span>
                    <img class="arrow" src="/static/images/icons/arrow_right.svg" alt="arrow right">
                </button>
            </form>
        </div>
    </section>

    <section class="footer-bottom">
        <ul>
            <li>
                <a href="/">Terms & Conditions</a>
            </li>

            <li>
                <a href="/">Privacy</a>
            </li>

            <li>
                <a href="/">Cookies</a>
            </li>

            <li>
                <a href="/">© 2021 ENJIN</a>
            </li>
        </ul>
    </section>
</footer>