<header>
    <h1>THIS IS A TEST HEADER</h1>
    <nav>
        <ul>
            <li><a href="">LINK</a></li>
            <li><a href="">LINK</a></li>
            <li><a href="">LINK</a></li>
        </ul>
    </nav>
</header>