// colors
$primary-color: #0D0D0D;
$primary-shadow-color: #0d0d0d29;
$secondary-color: #F9F9F9;
$accent-color: #CC0000;
$grey-color: #9C9C9C;
$grey-dark-color: #5E5E5E;
$grey-light-color: #E4E4E4;
$white-color: #fff;
$black-color: #000;

// A map of breakpoints.
$breakpoints: (
  // 448px
  xxs: 28rem,
  // 576px
  xs: 36rem,
  // 624px
  xss: 39rem,
  // 688px
  ss: 43rem,
  // 800px
  sm: 50rem,
  // 1024px
  md: 64rem,
  // 1200px
  lg: 75rem,
  // 1280px
  full: 80rem,
  // 1360px
  fullPlus: 85rem
);
