.btn {
    padding: 0.5rem 2rem;
    background-color: $accent-color;
    border-radius: 2px;
    color: $secondary-color;
    font-family: 'vw_text';
    font-size: 1rem;
    font-weight: normal;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    @include transition;
    display: flex;
    
    .container-text {
        padding: 0.5rem 2rem;
        position: relative;
        display: block;

        span {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include transition;
        }
    }

    img {
        position: absolute;
        top: 50%;
        right: -1rem;
        transform: translateY(-50%);
        @include transition;
    }

    &:hover {
        img {
            right: 1.2rem;
        }

        .container-text {
            span {
                left: calc(50% - 0.6rem);
            }
        }
    }
}
