.category-name-container {
    position: absolute;
    width: calc(100% - 3rem);
    @include media-min(sm) {
        width: calc(50% - 1.5rem);
    }
    @include media-min(md) {
        width: calc(33% - 1.5rem);
    }
    
    &__name {
        position: absolute;
        font-size: 4.5rem;
        font-family: 'vw_head';
        font-weight: bold;
    }
    
    &__img {
        position: relative;
        top: 10rem;
        width: 100%;
        @include media-min(ss) {
            width: 32rem;
            left: 8rem;
        }
        @include media-min(sm) {
            width: 24rem;
            left: 4rem;
        }
        
        &.bodywork {
            width: 100%;
            @include media-min(ss) {
                width: 32rem;
            }
            @include media-min(sm) {
                min-width: 28rem;
            }
        }
    }
}

.cards-list {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    &__item {
        margin: 0;
        margin-bottom: 1.5rem;
        width: 100%;
        @include media-min(sm) {
            margin-right: 0.75rem;
            margin-left: 0.75rem;
            width: calc(50% - 1.5rem);
        }
        @include media-min(md) {
            width: calc(33% - 1.5rem);
        }
        
        &:first-of-type {
            margin-left: 100%;
            @include media-min(sm) {
                margin-left: calc(50% + 0.75rem);
            }
            @include media-min(md) {
                margin-left: calc(33% + 0.75rem);
            }
        }

        a {
            position: relative;

            .car-image {
                padding: 1rem 0;
            }

            .btn-pri {
                width: 100%;
            }
        }
    }
}