{% set title = 'About' %}

{% extends "base.njk" %}

{% block content %}
    
    <section class="vision max-width">
        <div class="vision__text padding">
            <div class="text-wrap"></div>

            <h2 class="title">Our company policy/ dream</h2>

            <p>Our Founded in 1963, Automobili Lamborghini is headquartered in Sant’Agata Bolognese, in Northern Italy.</p>
            
            <p>The Lamborghini Urus, its third model line and the first Super SUV, was launched in 2017, creating a new niche in the luxury segment with benchmark power, performance and driving dynamics, unparalleled design, luxury and daily usability.</p>
            
            <p>The V10 Huracán family, successor to the iconic Gallardo, debuted in 2014 with the 2017 Huracán Performante (Spyder version in 2018), proving its capabilities with several lap records. In 2019 the new Huracán EVO (Coupe and Spyder) were introduced, featuring the V10 engine from the Performante and incorporating next-generation vehicle dynamic control and aerodynamics. In 2020 the new Huracán EVO RWD launches with a performance providing unfiltered feedback and an emotive and engaging driving experience controlled by the pilot. In May 2020 the new Huracán EVO RWD Spyder was revealed virtually, using for the first time Augmented Reality (AR) on Lamborghini’s official website lamborghini.com.</p>
        </div>

        <div class="vision__img">
            <img src="./static/images/about/about-banner.jpg" alt="Ambience image of car driving on the road">
        </div>
    </section>

    <section class="team max-width padding">
        <h2 class="title">Our team</h2>

        <div class="team__big">
            <div class="img">
                <img src="./static/images/about/team/ceo.png" alt="Image of the CEO">
            </div>

            <div class="content">
                <p class="name">Stephan Winkelmann</p>

                <p class="position">ceo</p>

                <p class="content__description">Stephan Winkelmann was born in Berlin on the 18 October 1964 and grew up in Rome, Italy. He studied political science in Rome and took his degree in Munich. In 1991 he started his professional career at a German financial institution before moving to the automotive industry, working firstly for Mercedes-Benz and then for Fiat Auto from 1994 to 2004, until he was appointed CEO of Fiat Auto Austria, Switzerland and Germany.</p>
            </div>
        </div>

        <div class="team__small">
            <ul>
                {% for member in team %}
                    <li>
                        <div class="img">
                            <img src="{{ member.img }}" alt="Image of the CEO">
                        </div>

                        <div class="content">
                            <p class="name">{{ member.name }}</p>

                            <p class="position">{{ member.position }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}