{% set title = 'Cars overview' %}

{% extends "base.njk" %}

{% block content %}
     
    <section class="category-selector max-width padding-side">
        <ul class="{{ filter }} category-selector__list">
            <li class="category-selector__list__item">
                <a href="/cars">All models</a>
            </li>

            <li class="category-selector__list__item">
                <a href="/cars/brands/all">Brands</a>
            </li>

            <li class="category-selector__list__item">
                <a href="/cars/bodywork/all">Bodywork</a>
            </li>
        </ul>
    </section>

    <section class="max-width padding-side filter">
        <div class="filter__container">
            <div class="filter__container__title">
                <p>Filter</p>
                <i data-feather="chevron-down"></i>
            </div>

            <div class="filter__container__number">
                <p><span class="bold">{{ count }}</span> displayed results</p>
            </div>
        </div>
    </section>


    <section class="overview-brands padding-side max-width">
        {% if category %}
                    {# {% if 'bodywork' in filter %}
                        <p>bodywork</p>
                    {% elif 'brands' in filter %}
                        <p>brands</p>
                    {% endif %} #}
            {% for cat in data %}
            
                {% if category %}
                    <div class="category-name-container">
                        <p class="category-name-container__name">{{ cat.name }}</p>

                        <img src="/static/images/{{ "shapes" if "bodywork" in filter else "logo" }}/{{ cat.name }}{{ ".png" if "bodywork" in filter else ".svg" }}" alt="Image of {{ cat.name }} {{ "bodywork" if "bodywork" in filter else "logo" }}">   
                    </div>

                    
                    <ul class="cards-list">
                        {% for car in cat.Cars %}
                        <li class="card-car cards-list__item">
                            <a href="/cars/detail/{{ car.id }}">
                                <button>
                                    <i data-feather="heart" class="favorite"></i>
                                </button>

                                <p class="type">{{ car.brand }} {{car.name}}</p>

                                {# Werkt nog niet #}
                                {% if car.BrandId %}
                                    {% if '1' %}
                                    <p>Audi</p>
                                    {% elif '2' %}
                                    <p>Bmw</p>
                                    {% elif '3' %}
                                    <p>Ford</p>
                                    {% elif '4' %}
                                    <p>Lexus</p>
                                    {% endif %}
                                {% endif %}

                                {{ car.BrandId }}
                                <p class="price">Starting at $ {{car.price}}</p>

                                <img class="car-image" src="{{car.teaserImgUrl}}" alt="Image of car">

                                <div class="btn-pri">
                                    <span class="overlay"></span>
                                    <span class="container-text">
                                        <span>Discover</span>
                                    </span>
                                    <img class="arrow" src="/static/images/icons/arrow_right.svg" alt="arrow right">
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>
    {# {% if category %}
    {% for cat in data %}
    
        {% if category %}
            <h2>{{ cat.name }}</h2>    
            
            <ul class="cards-list">
                {% for car in cat.Cars %}
                <li class="card-car">
                    <a href="/cars">
                        <button>
                            <i data-feather="heart" class="favorite"></i>
                        </button>

                        <p class="type">{{car.name}}</p>
                        <p class="price">Starting at $ {{car.price}}</p>

                        <img class="car-image" src="{{car.teaserImgUrl}}" alt="Image of car">

                        <div class="btn-pri">
                            <span class="overlay"></span>
                            <span class="container-text">
                                <span>Discover</span>
                            </span>
                            <img class="arrow" src="/static/images/icons/arrow_right.svg" alt="arrow right">
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    {% endif %} #}
{% endblock %}