{% extends "base.njk" %}

{% block content %}

    This is the count: {{ count }}

    {% if category %}
        <h2>List of cars ordered by {{ category }}:</h2>
    {% endif %}


    {% if (category | length) === 0  %}
        <h2>List of cars without filter:</h2>
    {% endif %}
    


    {% if category %}
    {% for cat in data %}
    
        {% if category %}
            <h2>{{ cat.name }}</h2>    
            
            <ul>

                {% for car in cat.Cars %}
                <li>{{car.name}}</li>
                <img src="{{car.teaserImgUrl}}" />
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    {% endif %}


{% endblock %}