{% set title = 'Contact' %}

{% extends "base.njk" %}

{% block content %}
    
    <section class="max-width">

        <div id="mapbox" style='width: 400px; height: 300px;'>
        
        </div>

    </section>

{% endblock %}