{% extends "base.njk" %}

{% block content %}
    
    <section class="max-width margin">
        <div class="div">
            <h1 class="title">
                Typography
            </h1>

            <h1>
                Heading 1 VW Head Bold 64px
            </h1>
            
            <h2>
                Heading 2 VW Head Bold 40px
            </h2>

            <h3>
                Heading 3 VW Head Bold 32px
            </h3>

            <h4>
                Heading 4 VW Head Bold 24px
            </h4>

            <h5>
                Heading 5 VW Head Bold 20px
            </h5>

            <p>
                Text VW Text Regular 18px. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet, urna id rhoncus fringilla, lacus diam sollicitudin mi, vel tempus nibh lectus at dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam pretium diam a faucibus pellentesque. Ut imperdiet mauris a arcu suscipit hendrerit.  Aliquam vel eros in velit mattis semper. Etiam fringilla quam vitae rhoncus vehicula. Sed a ipsum et risus lacinia elementum. Duis at enim ut lorem vehicula egestas sit amet et neque. Praesent sed consequat ligula, vel faucibus ligula. Proin placerat ac sapien ut cursus.
            </p>

            <p class="bold last">
                Text VW Text Bold 18px. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet, urna id rhoncus fringilla, lacus diam sollicitudin mi, vel tempus nibh lectus at dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam pretium diam a faucibus pellentesque. Ut imperdiet mauris a arcu suscipit hendrerit.  Aliquam vel eros in velit mattis semper. Etiam fringilla quam vitae rhoncus vehicula. Sed a ipsum et risus lacinia elementum. Duis at enim ut lorem vehicula egestas sit amet et neque. Praesent sed consequat ligula, vel faucibus ligula. Proin placerat ac sapien ut cursus.
            </p>
        </div>

        <div class="div">
            <h1 class="title">
                Colours
            </h1>

            <div class="flex">
                <div class="colour colour-1"></div>

                <div class="colour colour-2"></div>

                <div class="colour colour-3"></div>

                <div class="colour colour-4"></div>

                <div class="colour colour-5"></div>

                <div class="colour colour-6"></div>
            </div>
        </div>

        <div class="div">
            <h1 class="title">
                Buttons
            </h1>

            <div class="flex buttons">
                <div>
                    <h2>
                        Primary button
                    </h2>

                    <button class="btn">
                        <span class="test"></span>
                        <span class="container-text">
                            <span>Primary</span>
                        </span>
                        <img src="./static/images/icons/arrow_right.svg" alt="arrow right">
                    </button>
                </div>
                <div>
                    <h2>
                        Primary alternative button
                    </h2>

                    <button>

                    </button>
                </div>
                <div>
                    <h2>
                        Secondary button
                    </h2>

                    <button>

                    </button>
                </div>
                <div>
                    <h2>
                        Ternary button
                    </h2>

                    <button>

                    </button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}