{% set title = 'Detail' %}

{% extends "base.njk" %}

{% block content %}
    <section class="sticky-header">
        <div class="sticky-header__container max-width padding-side">
            <div class="sticky-header__container__type">
                <img src="/static/images/detail/audi-top.png">

                <div class="sticky-header__container__type__text">
                    <p>Rs 5 Coupé</p>
                    <span></span>
                    <p>$ 75,000</p>
                </div>
            </div>

            <div class="sticky-header__container__action">
                <i data-feather="heart" ></i>

                <button class="btn-pri btn-pri-alt">
                    <span class="overlay"></span>
                    <span class="container-text">
                        <span>Configure</span>
                    </span>
                    <img class="arrow" src="/static/images/icons/arrow_right.svg" alt="arrow right">
                </button>
            </div>
        </div> 
    </section>

    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
    <section>
        test
    </section>
{% endblock %}