{% set title = 'Home' %}


{% extends "base.njk" %}

{% block content %}

        {% include "partials/carousel.njk" %}

        <section>

            <h2 class="title">
                bodywork
            </h2>

            <div>
            {% for item in bodywork %}
                <p>{{ item.name }}</p>
                <p>{{ item.svg }}</p>
            {% endfor %}
            </div>
        </section>

{% endblock %}