{% set title = 'About' %}

{% extends "base.njk" %}

{% block content %}
THANK YOU FOR YOUR FORM







{% endblock %}

{% block extraScripts %}
    <script src="/static/js/test.js"></script>
{% endblock %}



