{% extends "base.njk" %}

{% block content %}

    <section class="profile-hello">
        <div class="profile-hello__container max-width padding-side">
            <h1>Hi Jane</h1>
            <p>Welcome back</p>
        </div>
    </section>

    <section class="profile-wrapper max-width padding-side">
        <div class="profile-wrapper__container">
            <div class="profile-wrapper__container__nav">
                <ul class="profile-wrapper__container__nav__list">
                    <li class="profile-wrapper__container__nav__list__item">
                        <a href="/profile">Your profile</a>
                    </li>

                    <li class="profile-wrapper__container__nav__list__item">
                        <a href="/profile/orders">Orders</a>
                    </li>

                    <li class="profile-wrapper__container__nav__list__item">
                        <a href="/profile/personal-settings">Personal settings</a>
                    </li>

                    <li class="profile-wrapper__container__nav__list__item">
                        <a href="/profile/preferences">Preferences</a>
                    </li>

                    <li class="profile-wrapper__container__nav__list__item">
                        <a href="/profile/wishlist">Wishlist</a>
                    </li>

                    <li class="profile-wrapper__container__nav__list__item">
                        <a href="/profile/shopping-basket">Shopping basket</a>
                    </li>

                    <li class="profile-wrapper__container__nav__list__item">
                        <a href="/">Log out</a>
                    </li>
                </ul>
            </div>

            <div class="profile-wrapper__container__content">
                {% block profile %}

                {% endblock %}
            </div>
        </div>
    </section>

    

{% endblock %}

{% block extraScript %}
    <script type="module" src="/static/js/profileListener.js"></script>
{% endblock %}