body {
  background-color: #E5E5E5; }
  body p {
    color: #180b0b; }
  body li {
    color: red; }

.test-blue {
  color: blue; }

button {
  padding: .5rem 1rem;
  background-color: #E5E5E5;
  border-radius: 4px;
  border: none; }
