* {
    box-sizing: border-box;
}

body {
    background-color: $secondary-color;
    color: $primary-color;
    font-family: 'vw_text';
}

img {
    max-width: 100%;
}

svg {
    stroke: $secondary-color;
}