* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $secondary-color;
    color: $primary-color;
    font-family: 'vw_text';
}

main {
    padding-top: 4rem;
    @include media-min(xxs) {
        padding-top: 7.8rem;
    }
    @include media-min(xs) {
        padding-top: 7.9rem;
    }
    @include media-min(sm) {
        padding-top: 4.8rem;
    }
    @include media-min(md) {
        padding-top: 5rem;
    }
}

img {
    max-width: 100%;
}

svg {
    stroke: $secondary-color;
}

p {
    font-size: 18px;
}