.sticky-header {
    background-color: $primary-color;
    position: sticky;
    z-index: 500;
    top: 4rem;
    @include media-min(xxs) {
        top: 7.8rem;
    }
    @include media-min(xs) {
        top: 7.9rem;
    }
    @include media-min(sm) {
        top: 4.8rem;
    }
    @include media-min(md) {
        top: 5rem;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        @include media-min(xxs) {
            padding-top: 1rem;
        }
        @include media-min(xs) {
            padding-top: 1rem;
            padding-bottom: 1rem;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        @include media-min(sm) {
            padding-top: 0;
            padding-bottom: 0;
        }

        &__type {
            display: flex;
            order: 2;
            width: 100%;
            justify-content: center;
            padding-top: 1rem;
            @include media-min(xs) {
                padding-top: 0;
                width: auto;
                order: 1;
            }
            
            &__text {
                display: flex;
                align-content: center;
                justify-content: space-between;
                width: 100%;
                color: $secondary-color;
                @include media-min(xxs) {
                    width: auto;
                }
                
                span {
                    background-color: $accent-color;
                    margin: 0 1.5rem;
                    width: 0.15rem;
                    height: 2.25rem;
                    @include media-min(xs) {
                        margin: 0 2.5rem;
                    }
                    @include media-min(sm) {
                        margin-top: 1rem;
                    }
                }
                
                p {
                    font-family: 'vw_head';
                    font-size: 1.75rem;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                }
            }
            
            img {
                width: 10rem;
                margin-right: 1.25rem;
                padding: 0.2rem 0;
                display: none;
                @include media-min(sm) {
                    display: block;
                }
            }
        }

        &__action {
            display: flex;
            align-items: center;
            order: 1;
            justify-content: space-between;
            width: 100%;
            @include media-min(xs) {
                width: auto;
                order: 2;
             }

            svg {
                margin-right: 1.5rem;
            }
        }
    }
}

.general {
    position: relative;

    &__bg {
        background-color: $primary-color;
        width: 100%;
        height: 35vh;
        
        &__logo {
            padding-top: 2rem;
            
            img {
                width: 18rem;
            }
        }
        
    }
    
    &__car {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__info {
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        
        &__name {
            padding-bottom: 3rem;
        }
        
        &__price {
            background-color: $accent-color;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            height: 100%;
            width: 45%;
            margin-right: -4rem;
            clip-path: polygon(65% 0%, 100% 0%, 100% 100%, 0% 100%);
            
            p {
                padding-bottom: 3rem;
                font-size: 4rem;
                color: $secondary-color;
                font-family: 'vw_head';
                font-weight: bold;
                margin-right: 4rem;
            }
        }
    }
}

.specs {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 8rem;

    h2 {
        font-size: 4rem;
        font-weight: normal;
        margin-bottom: 4rem;
    }

    &__list {
        display: flex;
        width: 100%;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            &__number {
                color: $accent-color;
                font-weight: bold;
                font-size: 4rem;
                margin-bottom: 1rem;
            }

            &__info {
                font-size: 2rem;
            }
        }
    }
}

.specs-info {
    background-color: $primary-color;

    &__container {
        display: flex;
        justify-content: space-between;

        &__img {
            max-height: 30rem;
            width: 60%;
            overflow: hidden;
            clip-path: polygon(0% 0%, 100% 0%, 45% 100%, 0% 100%);
        }

        &__content {
            width: 40%;
            color: $secondary-color;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            padding-right: 4rem;

            .subtitle {
                color: $accent-color;
                font-size: 1.5rem;
            }

            .tagline {
                font-size: 3.5rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }
            
            .numbers {  
                font-size: 1.75rem;
            }
        }
    }
}

.specs-info--alt {
    background-color: $secondary-color;

    .specs-info__container {

        .specs-info__container__img {
            clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        .specs-info__container__content {
            align-items: flex-start;
            padding-left: 4rem;
            padding-right: 0;
            color: $primary-color;
                        
        }
    }
}