.sticky-header {
    background-color: $primary-color;
    position: sticky;
    z-index: 1;
    top: 4rem;
    @include media-min(xxs) {
        top: 7.8rem;
    }
    @include media-min(xs) {
        top: 7.9rem;
    }
    @include media-min(sm) {
        top: 4.8rem;
    }
    @include media-min(md) {
        top: 5rem;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        @include media-min(xxs) {
            padding-top: 1rem;
        }
        @include media-min(xs) {
            padding-top: 1rem;
            padding-bottom: 1rem;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        @include media-min(sm) {
            padding-top: 0;
            padding-bottom: 0;
        }

        &__type {
            display: flex;
            order: 2;
            width: 100%;
            justify-content: center;
            padding-top: 1rem;
            @include media-min(xs) {
                padding-top: 0;
                width: auto;
                order: 1;
            }
            
            &__text {
                display: flex;
                align-content: center;
                justify-content: space-between;
                width: 100%;
                color: $secondary-color;
                @include media-min(xxs) {
                    width: auto;
                }
                
                span {
                    background-color: $accent-color;
                    margin: 0 1.5rem;
                    width: 0.15rem;
                    height: 2.25rem;
                    @include media-min(xs) {
                        margin: 0 2.5rem;
                    }
                    @include media-min(sm) {
                        margin-top: 1rem;
                    }
                }
                
                p {
                    font-family: 'vw_head';
                    font-size: 1.75rem;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                }
            }
            
            img {
                width: 10rem;
                margin-right: 1.25rem;
                padding: 0.2rem 0;
                display: none;
                @include media-min(sm) {
                    display: block;
                }
            }
        }

        &__action {
            display: flex;
            align-items: center;
            order: 1;
            justify-content: space-between;
            width: 100%;
            @include media-min(xs) {
                width: auto;
                order: 2;
             }

            svg {
                margin-right: 1.5rem;
            }
        }
    }
}

.general {
    position: relative;

    &__bg {
        background-color: $primary-color;
        width: 100%;
        height: 35vh;
        @include media-min(xs) {
            height: 35vh;
        }
        
        &__logo {
            padding-top: 2rem;
            
            img {
                object-fit: contain;
                width: 10rem;
                height: 8rem;
                @include media-min(xs) {
                    width: 13.5rem;
                    height: 8rem;
                }
                @include media-min(sm) {
                    width: 18rem;
                    height: 10rem;
                }
                // width: 100%;
                // height: 100%;
            }
        }
        
    }
    
    &__car {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        @include media-min(xxs) {
            top: 15%;
        }
        @include media-min(sm) {
            top: 0;
        }

        img {
            min-width: 22rem;
            @include media-min(xxs) {
                min-width: 25rem;
            }
            @include media-min(xs) {
                min-width: 30rem;
            }
            @include media-min(sm) {
                min-width: 37rem;
            }
        }
    }
    
    &__info {
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 4rem;
        @include media-min(xs) {
            padding-top: 0;
            height: 40vh;
            flex-wrap: nowrap;
        }
        
        &__name {
            width: 100%;
            @include media-min(xs) {
                width: auto;
                padding-bottom: 3rem;
            }

            h1 {
                font-size: 3rem;
                @include media-min(sm) {
                    font-size: 3rem;
                }
                @include media-min(md) {
                    font-size: 3.5rem;
                }
                @include media-min(lg) {
                    margin-right: 4rem;
                    font-size: 4rem;
                }
            }
        }
        
        &__price {
            justify-self: flex-end;
            width: 100%;
            z-index: -1;

            @include media-min(xs) {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                background-color: $accent-color;
                margin-right: -2rem;
                height: 100%;
                width: 55%;
                clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
            @include media-min(sm) {
                clip-path: polygon(55% 0%, 100% 0%, 100% 100%, 0% 100%);
                margin-right: -3rem;
                width: 50%;
            }
            @include media-min(md) {
                clip-path: polygon(65% 0%, 100% 0%, 100% 100%, 0% 100%);
                width: 45%;
                margin-right: -4rem;
            }
            
            p {
                font-family: 'vw_head';
                font-weight: bold;
                font-size: 3rem;
                color: $accent-color;
                text-align: right;
                @include media-min(xs) {
                    text-align: left;
                    padding-bottom: 3rem;
                    margin-right: 2rem;
                    color: $secondary-color;
                }
                @include media-min(sm) {
                    margin-right: 3rem;
                    font-size: 3rem;
                }
                @include media-min(md) {
                    margin-right: 4rem;
                    font-size: 3.5rem;
                }
                @include media-min(lg) {
                    margin-right: 4rem;
                    font-size: 4rem;
                }
            }
        }
    }
}

.specs {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 8rem;

    h2 {
        font-size: 4rem;
        font-weight: normal;
        margin-bottom: 4rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @include media-min(sm) {
            flex-wrap: nowrap;
        }
        
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 4rem;
            @include media-min(sm) {
                margin-bottom: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &__number {
                color: $accent-color;
                font-weight: bold;
                font-size: 4rem;
                margin-bottom: 1rem;
                text-align: center;
            }
            
            &__info {
                text-align: center;
                font-size: 2rem;
            }
        }
    }
}

.specs-info {
    background-color: $primary-color;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include media-min(ss) {
            flex-direction: row;
        }
        
        &__img {
            order: 2;
            height: 20rem;
            @include media-min(ss) {
                order: 1;
                height: 30rem;
                width: 50%;
                overflow: hidden;
                clip-path: polygon(0% 0%, 100% 0%, 45% 100%, 0% 100%);
            }
            @include media-min(md) {
                width: 60%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__content {
            width: 50%;
            color: $secondary-color;
            display: flex;
            flex-direction: column;
            padding-right: 0;
            order: 1;
            text-align: left;
            width: 100%;
            padding: 2rem;
            padding-top: 6rem;
            @include media-min(ss) {
                padding: 0;
                padding-right: 4rem;
                align-items: flex-end;
                justify-content: center;
                width: 50%;
                text-align: right;
                order: 2;
            }
            @include media-min(md) {
                width: 40%;
            }

            .subtitle {
                color: $accent-color;
                font-size: 1.5rem;
            }

            .tagline {
                font-weight: bold;
                margin-bottom: 1rem;
                font-size: 2.5rem;
                @include media-min(sm) {
                    font-size: 3rem;
                }
                @include media-min(lg) {
                    font-size: 3.5rem;
                }
            }
            
            .numbers {  
                font-size: 1.5rem;
                @include media-min(sm) {
                    font-size: 1.75rem;
                }
            }
        }
    }
}

.specs-info--alt {
    background-color: $secondary-color;

    .specs-info__container {

        .specs-info__container__img {
            order: 2;
            @include media-min(ss) {
                order: 2;
                clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
        }

        .specs-info__container__content {
            align-items: flex-start;
            padding-left: 0;
            padding-right: 0;
            color: $primary-color;
            text-align: left;
            padding: 2rem;
            padding-top: 6rem;
            order: 1;
            @include media-min(ss) {
                padding: 0;
                order: 1;
                padding-left: 4rem;
            }
                        
        }
    }
}

.reviews {
    h2 {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &__item {
            background-color: $white-color;
            padding: 1.5rem;
            box-shadow: 0px 1px 2px $primary-shadow-color;
            margin: 0.75rem;
            width: calc(100% - 1.5rem);
            display: flex;
            flex-wrap: wrap;
            @include transition;
            border-radius: 2px;
            @include media-min(sm) {
                width: calc(50% - 1.5rem);
            }
            @include media-min(md) {
                width: calc(33.333% - 1.5rem);
            }

            &__top {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 0.75rem;
                
                .rating {
                    font-size: 1.3rem;
                    display: flex;
                    align-items: center;
                    width: auto;
                    font-weight: bold;
                    
                    svg {
                        stroke: $accent-color;
                        margin-right: 0.5rem;
                    }
                }
                
                .date {
                    color: $grey-color;
                    font-size: 1.3rem;
                }
            }

            p {
                width: 100%;
                font-size: 1.2rem;
            }

            &:hover {
                box-shadow: 0px 4px 8px $primary-shadow-color;
                transform: translateY(-0.2rem);    
            }
        }

    }
}

.configuration {
    position: relative;

    .bookmark {
        position: absolute;
        top: -6rem;
    }

    h2 {
        font-size: 4rem;
    }
}